
<% if current_user %>
<%= link_to "new post", 'new_post_path' %>

<% end %>

<% Post.all.each do |p| %>
	<p><%= p.created_at %></p> 
	<p><%= p.user.email %></p>
	<p><%= p.content %></p>
	
	<% if current_user == p.user %>
	<p><%= link_to 'edit', edit_post_path %> </p>
	<p><%= link_to 'delete', p, method: :delete%></p>
	<%end%>
<% end %>
